.btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 15px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 25px;
}
body {
	background-color: #444444;
}
.slim {
	padding: 7.5px 15px
}
.rightize{
	text-align: right !important;
}
.centerize{
	text-align: center;
}
.well{
	border-radius: 0px;
}
.hidden{
	display: none;
}
.file-input-name {
	display: none;
}

.fullwidth .slider {
	width: 100% !important;
}
.bg-btn {
}
.bg-text {
	overflow: hidden;
	text-overflow: ellipses;
}
.soundLabel {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
